.yellow{
    background: yellow;
}
.green{
    background: green;
}

.red{
    background: red;
}

.purple{
    background: purple;
}
.skyblue{
    background: skyblue;
}

.bold{
    font-size: 25px;
}
